<div class="navbar-top-bar"></div>
<div class="navbar-main">


  <a href="" class="navbar-link navbar-outside-left">Explore</a>
  <a href="" class="navbar-link navbar-inside-left">Shop</a>
  <a href="" class="navbar-link navbar-inside-right">About</a>
  <a href="" class="navbar-link navbar-outside-right">Search</a>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-main-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-main-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>

